#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
.environment_li {
    margin-top: 13px;
}
.environment_li h4 {
    border-bottom: 1px solid white;
    padding: 8px;
}
.environment_li img{
    border-radius: 25px;
}
.environment_li p {
    margin-top: 10px;
}